<div class="Buttons">
  <div class="Button C" (click)="onOperatorClick('CE')">CE</div>
  <div id="C" class="Button C" (click)="onOperatorClick('C')">C</div>
  <div class="Button" (click)="onOperatorClick('%')">&percnt;</div>
  <div class="Button D" (click)="onOperatorClick('delete')">&#x232B;</div>
  <div class="Button" (click)="onOperatorClick('1/x')">&#8543;<span style="font-size: 23px;padding: 1px">x</span></div>
  <div class="Button" (click)="onOperatorClick('x^2')"><span style="font-size: 28px;padding: 1px">x</span>&#178;</div>
  <div class="Button" (click)="onOperatorClick('sqrt x')">&radic;<span style="font-size: 28px;padding: 1px">x</span></div>
  <div class="Button" (click)="onOperatorClick('/')">&divide;</div>
  <div class="Button N" (click)="onNumberClick('7')">7</div>
  <div class="Button N" (click)="onNumberClick('8')">8</div>
  <div class="Button N" (click)="onNumberClick('9')">9</div>
  <div class="Button" (click)="onOperatorClick('*')">&times;</div>
  <div class="Button N" (click)="onNumberClick('4')">4</div>
  <div class="Button N" (click)="onNumberClick('5')">5</div>
  <div class="Button N" (click)="onNumberClick('6')">6</div>
  <div class="Button" (click)="onOperatorClick('-')">&minus;</div>
  <div class="Button N" (click)="onNumberClick('1')">1</div>
  <div class="Button N" (click)="onNumberClick('2')">2</div>
  <div class="Button N" (click)="onNumberClick('3')">3</div>
  <div id="+" class="Button" (click)="onOperatorClick('+')">&plus;</div>
  <div id="+/-" class="Button" (click)="onOperatorClick('+/-')">&plusmn;</div>
  <div class="Button N" (click)="onNumberClick('0')">0</div>
  <div class="Button" (click)="onNumberClick('.')">.</div>
  <div id="=" class="Button" (click)="onOperatorClick('=')">&equals;</div>
</div>
